body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
#map{
    width: 100%;
    height: 100%
}
.title{
    position: absolute;
    z-index: 1;
    font-size: 88px;
    font-weight: bold;
    color:#333;
    text-transform: uppercase;
    top:100px;
    left:100px;
}

.search-container{
    position: absolute;
    top:230px;
    left:100px;
    z-index: 1;
    width: 400px;
    height: 60px;
    background-color: #454e53;
    border-radius: 30px;
    display:flex;
}
.search-container .search{
    flex-grow: 1;
    display:flex;
    align-items: center;
    padding:0 20px;
}
.search-container input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border:0;
    justify-content: center;
    color:white;
}
.search-container input:focus{
    outline: none;
}
.search i{
    color:white; font-size: 25px;
}
.stores-list-container{
    width: 400px;
    position: absolute;
    z-index: 1;
    top:320px;
    left: 100px;
    bottom: 50px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 30px;
    overflow-y:scroll;
    
}
.stores-list{
    padding:0 20px 30px 20px;
}
.store-container{
    font-size: 20px;
    color:#514c4c;
    margin-top:30px;
    border-bottom:1px solid #979797;
    display:flex;
}

.store-container-background{
    display:flex;
    flex-grow: 1;
    margin-bottom: 6px;
    border-radius: 18px;
    padding:15px;
}
.store-container-background:hover{
    background-color:#ccc;
    transition:all 0.2s ease-in-out;
    
}
.store-info-container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.store-container span{
    display:block;
}
.store-phone-number{
    color:#B5ADAD;
    margin-top:15px;
    margin-bottom:15px;
}
.store-number{
    width:30px;
    height: 30px;
    background-color:#454E53;
    color:#B5ADAD;
    border-radius: 50%;
    font-size: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.store-number-container{
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.store-info-window{
    min-width: 300px;
    font-size: 18px;
    padding:20px;
}
.store-info-name{
    color:rgba(0,0,0,0.87);
    font-size:24px;
    font-weight: bold;;
}
.store-info-status{
    margin-top:6px;
    border-bottom: 1px solid #000029;
    padding-bottom: 6px;
}
.store-info-address, .store-info-phone{
    margin-top:6px;
    display:flex;
    align-items: center;
}
.store-info-address .circle,.store-info-phone .circle{
    width:30px;
    height: 30px;
    background-color: #198581;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color:white;
}

.search i{
    cursor: pointer;
}


